# Copyright (c) 2021 Concurrent Technologies Corporation.
#                                                                                                               
# Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at                                                    
#                                                                                                               
#     http://www.apache.org/licenses/LICENSE-2.0                                                                
#                                                                                                               
# Unless required by applicable law or agreed to in writing, software is distributed under the License is       
# distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or              
# implied.  See the License for the specific language governing permissions and limitations under the License.  

# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.bat text
*.c text
*.cmake text
*.cpp text
*.gyp text
*.h text
*.hpp text
*.i text
*.js text
*.json text
*.md text
*.proto text
*.scala text
*.sh text
*.ts text
*.yml text
*.xml text

# Denote all files that are truly binary and should not be modified.
*.dat binary
*.png binary

# Test data files should not be modified.
core/src/tests/data/* binary
packages/client/tests/specs/data/* binary
