# Copyright (c) 2021 Concurrent Technologies Corporation.
#                                                                                                               
# Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at                                                    
#                                                                                                               
#     http://www.apache.org/licenses/LICENSE-2.0                                                                
#                                                                                                               
# Unless required by applicable law or agreed to in writing, software is distributed under the License is       
# distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or              
# implied.  See the License for the specific language governing permissions and limitations under the License.  

---
name: Rat Check

on:
  push:
    branches-ignore: [ 'dependabot/**' ]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  check:
    name: Rat Check
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    env:
      SBT: sbt -J-Xms1024m -J-Xmx5120m -J-XX:ReservedCodeCacheSize=512m -J-XX:MaxMetaspaceSize=1024m
    
    steps:
      - name: Setup Java
        uses: actions/setup-java@v4.1.0
        with:
          distribution: temurin
          java-version: 8

      - name: Check out Repository
        uses: actions/checkout@v4

      - name: Run Rat Check
        run: $SBT ratCheck || (cat target/rat.txt; exit 1)
        working-directory: server/scala
