---
name: Automatic Release
on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    strategy:
      matrix:
        os: [macos-11, ubuntu-20.04]
    name: Build ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2.3.5
      - name: Setup Node
        uses: actions/setup-node@v1.4.6
        with:
          node-version: 12
      - name: Create addon file
        run: npm ci
      - name: Export addon file name
        run: |
          NODE_FILE=""

          if [[ ${{ matrix.os }} == *"macos"* ]]; then
            NODE_FILE="omega_edit_darwin.node"
            mv module/omega_edit_mac.node module/$NODE_FILE
          else
            NODE_FILE="omega_edit_linux.node"
          fi

          echo "NODE_FILE=$(echo $NODE_FILE)" >> $GITHUB_ENV
      - name: Upload ${{ env.NODE_FILE }}
        uses: actions/upload-artifact@2.3.1
        with:
          name: ${{ env.NODE_FILE }}
          path: module/${{ env.NODE_FILE }}
  release:
    name: Release package
    runs-on: ubuntu-20.04
    needs: build
    steps:
      - uses: actions/checkout@v2.3.5
      - name: Setup Node
        uses: actions/setup-node@v1.4.6
        with:
          node-version: 14
      - name: Export package.json version
        run: |
          PKG_VERSION=$(echo $(node -p "JSON.stringify(require('./package.json').version)") | sed 's|"||g')
          echo "PKG_VERSION=$PKG_VERSION" >> $GITHUB_ENV

      - name: Download node files
        uses: actions/download-artifact@v2.1.0
        with:
          path: module/
      - name: Create release
        uses: actions/create-release@v1.1.4
        env:
          GITHUB_TOKEN: ${{ secret.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: false
          prerelease: false
      - name: Create release tarball
        run: yarn pack --filename omega-edit-${{ env.PKG_VERSION }}.tar.gz
      - name: Upload release tarball
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secret.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./omega-edit-${{ env.PKG_VERSION }}.tar.gzmy-artifact.zip
          asset_name: omega-edit-${{ env.PKG_VERSION }}.tar.gz
          asset_content_type: application/tar+gzip
