---
name: Unit Tests
on:
  push:
    branches:
      - '**'

jobs:
  macos-debug:
    name: MacOS Tests
    runs-on: macos-latest
    steps:
      - name: Install Prerequisites
        run: brew install ninja nodeenv yarn
      - name: Checkout Source
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Debug Build
        run: cmake -S . -B cmake-build-debug
      - name: Build Debug Build
        run: cmake --build cmake-build-debug
      - name: Run Tests
        run: |
          cd cmake-build-debug/src/tests/
          ./omega_test -d yes --order lex
      - name: Create Node v10 Virtual Environment
        run: nodeenv --node=10.24.1 venv
      - name: Prepare To Build Node v10 Bindings
        run: |
          source ./venv/bin/activate
          npm install
      - name: Test Node v10 Bindings
        run: |
          source ./venv/bin/activate
          node ./src/examples/omega_simple.js

  linux-debug:
    name: Linux Tests
    runs-on: ubuntu-latest
    steps:
      - name: Install Prerequisites
        run: sudo apt install -y ninja-build nodeenv valgrind yarn
      - name: Checkout Source
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Debug Build
        run: cmake -S . -B cmake-build-debug
      - name: Build Debug Build
        run: cmake --build cmake-build-debug
      - name: Run Tests
        run: |
          cd cmake-build-debug/src/tests/
          ./omega_test -d yes --order lex
      - name: Run Tests Under Valgrind
        run: |
          cd cmake-build-debug/src/tests/
          valgrind --leak-check=full --show-leak-kinds=all --error-exitcode=1 ./omega_test -d yes --order lex
      - name: Create Node v10 Virtual Environment
        run: nodeenv --node=10.24.1 venv
      - name: Prepare To Build Node v10 Bindings
        run: |
          source ./venv/bin/activate
          npm install
      - name: Test Node v10 Bindings
        run: |
          source ./venv/bin/activate
          node ./src/examples/omega_simple.js
