---
name: Unit Tests
on:
  push:
    branches:
      - '**'

jobs:
  macos-debug:
    name: MacOS Tests
    runs-on: macos-latest
    steps:
      - name: Install Prerequisites
        run: brew install ninja nodeenv yarn
      - name: Checkout Source
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Debug Build
        run: cmake -S . -B cmake-build-debug
      - name: Build Debug Build
        run: cmake --build cmake-build-debug
      - name: Run Tests
        working-directory: cmake-build-debug/src/tests/
        run: ./omega_test -d yes --order lex
      - name: Create Node v12 Virtual Environment
        run: nodeenv --node=12.22.8 venv
      - name: Prepare To Build Node v12 Bindings
        run: |
          source ./venv/bin/activate
          npm ci
      - name: Test Node v12 Bindings
        run: |
          source ./venv/bin/activate
          node ./src/examples/omega_simple.js

  linux-debug:
    name: Linux Tests
    runs-on: ubuntu-latest
    steps:
      - name: Install Prerequisites
        run: sudo apt install -y ninja-build nodeenv valgrind yarn
      - name: Checkout Source
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Debug Build
        run: cmake -S . -B cmake-build-debug -DCMAKE_BUILD_TYPE=Debug -DCMAKE_CXX_FLAGS=--coverage -DCMAKE_C_FLAGS=--coverage
      - name: Build Debug Build
        run: cmake --build cmake-build-debug
      - name: Run Tests
        working-directory: cmake-build-debug/src/tests/
        run: ./omega_test -d yes --order lex
      - name: Collect code coverage
        working-directory: cmake-build-debug/src/tests/
        run: bash <(curl -s https://codecov.io/bash)
      - name: Run Tests Under Valgrind
        working-directory: cmake-build-debug/src/tests/
        run: valgrind --leak-check=full --show-leak-kinds=all --leak-resolution=med --track-origins=yes --vgdb=no --error-exitcode=1 ./omega_test -d yes --order lex
      - name: Create Node v12 Virtual Environment
        run: nodeenv --node=12.22.8 venv
      - name: Prepare To Build Node v12 Bindings
        run: |
          source ./venv/bin/activate
          npm ci
      - name: Test Node v12 Bindings
        run: |
          source ./venv/bin/activate
          node ./src/examples/omega_simple.js
